# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Django
db.sqlite3
staticfiles/
media/

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
